body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #554918; // Color de fondo específico
  color: #663f3f; // Color de texto principal
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

p, a, li, span, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

// Otros estilos globales
